@tailwind base;
@tailwind components;
@tailwind utilities;

button:active {
  -webkit-tap-highlight-color: transparent !important;
}

@layer components {
  .tooltip {
    @apply invisible rounded-2xl bg-slate-800 py-2 px-4 text-sm text-gray-50 opacity-0 shadow transition-opacity;
  }

  .arrow {
    @apply invisible absolute m-auto h-2 w-2 bg-inherit before:visible before:absolute before:m-auto before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:opacity-0 before:transition-opacity before:duration-75 before:ease-in-out before:content-[''];
  }

  .tooltip[data-popper-placement^="top"] > .arrow {
    @apply inset-x-0 -bottom-1 before:inset-x-0;
  }

  .tooltip[data-popper-placement^="bottom"] > .arrow {
    @apply inset-x-0 -top-1 before:inset-x-0;
  }

  .tooltip[data-popper-placement^="left"] > .arrow {
    @apply inset-y-0 -right-1 before:inset-y-0;
  }

  .tooltip[data-popper-placement^="right"] > .arrow {
    @apply inset-y-0 -left-1 before:inset-y-0;
  }

  .tooltip.show {
    @apply visible opacity-100 transition-opacity;
  }

  .tooltip.show .arrow {
    @apply duration-75 before:opacity-100 before:transition-opacity;
  }

  .ripple {
    @apply absolute animate-ripple rounded-full bg-stone-300;
    transform: scale(0);
  }
}
